[org/gnome/desktop/session]
idle-delay=uint32 {{ security_gnome_screensaver_inactivity_timeout }}

[org/gnome/desktop/screensaver]
idle-activation-enabled={{ security_gnome_screensaver_idle_activation }}

[org/gnome/desktop/screensaver]
lock-enabled={{ security_gnome_screensaver_lock_enabled }}

[org/gnome/desktop/screensaver]
lock-delay=uint32 {{ security_gnome_screensaver_lock_delay }}

[org/gnome/settings-daemon/plugins/media-keys]
logout=''

[org/gnome/login-screen]
disable-user-list=true
banner-message-enable=true
banner-message-text=string "{{ security_banner_text | replace('\n', '\\n') }}"