## First rule - delete all
-D

## Increase the buffers to survive stress events.
## Make this bigger for busy systems
-b 8192

-a always,exit -F arch=b32 -S fremovexattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch=b64 -S fremovexattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch=b32 -S lremovexattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch=b64 -S lremovexattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch=b32 -S removexattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch=b64 -S removexattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod

{% if security_audit_record_unauthorized_access_attempts %}
{% if centos_7_security_scanner == 'nessus' %}
{% set access_key = '-k access' %}
{% else %}
{% set access_key = '-F key=access' %}
{% endif %}
-a always,exit -F arch=b32 -S creat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S creat -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S creat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S creat -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S open -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S open -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S open -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S open -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S openat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S openat -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S openat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S openat -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S open_by_handle_at -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S open_by_handle_at -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S open_by_handle_at -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S open_by_handle_at -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S truncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S truncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S truncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S truncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b32 -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 {{ access_key }}
-a always,exit -F arch=b64 -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 {{ access_key }}
{% endif %}

{% if security_audit_record_permission_modification %}
{% if centos_7_security_scanner == 'nessus' %}
{% set perm_mod_key = "-k perm_mod" %}
{% else %}
{% set perm_mod_key = "-F key=perm_mod" %}
{% endif %}
-a always,exit -F arch=b32 -S chown -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S chown -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S fchown -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S fchown -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S lchown -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S lchown -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S fchownat -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S fchownat -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S chmod -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S chmod -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S fchmod -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S fchmod -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S fchmodat -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S fchmodat -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S lchmod -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S lchmod -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S fchmodnat -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S fchmodnat -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S setxattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S setxattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S fsetxattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S fsetxattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S lsetxattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S lsetxattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S removexattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S removexattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S fremovexattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S fremovexattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b32 -S lremovexattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
-a always,exit -F arch=b64 -S lremovexattr -F auid>=1000 -F auid!=4294967295 {{ perm_mod_key }}
{% endif %}

{% if security_audit_record_deletion %}
{% if centos_7_security_scanner == 'nessus' %}
{% set delete_key = "-k delete" %}
{% else %}
{% set delete_key = "-F key=delete" %}
{% endif %}
-a always,exit -F arch=b32 -S rename -F perm=x -F auid>=1000 -F auid!=4294967295 {{ delete_key }}
-a always,exit -F arch=b64 -S rename -F perm=x -F auid>=1000 -F auid!=4294967295 {{ delete_key }}
-a always,exit -F arch=b32 -S renameat -F perm=x -F auid>=1000 -F auid!=4294967295 {{ delete_key }}
-a always,exit -F arch=b64 -S renameat -F perm=x -F auid>=1000 -F auid!=4294967295 {{ delete_key }}
-a always,exit -F arch=b32 -S rmdir -F perm=x -F auid>=1000 -F auid!=4294967295 {{ delete_key }}
-a always,exit -F arch=b64 -S rmdir -F perm=x -F auid>=1000 -F auid!=4294967295 {{ delete_key }}
-a always,exit -F arch=b32 -S unlink -F perm=x -F auid>=1000 -F auid!=4294967295 {{ delete_key }}
-a always,exit -F arch=b64 -S unlink -F perm=x -F auid>=1000 -F auid!=4294967295 {{ delete_key }}
-a always,exit -F arch=b32 -S unlinkat -F perm=x -F auid>=1000 -F auid!=4294967295 {{ delete_key }}
-a always,exit -F arch=b64 -S unlinkat -F perm=x -F auid>=1000 -F auid!=4294967295 {{ delete_key }}
{% endif %}

{% if security_audit_record_altered_logon_events %}
-w /var/log/tallylog -p wa -k logins
-w /var/run/faillock/ -p wa -k logins
-w /var/log/lastlog -p wa -k logins
{% endif %}

{% if security_audit_record_selinux_commands %}
{% if centos_7_security_scanner == 'nessus' %}
-a always,exit -F path=/usr/sbin/semanage -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change
-a always,exit -F path=/usr/sbin/setsebool -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change
-a always,exit -F path=/usr/bin/chcon -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change
-a always,exit -F path=/usr/sbin/restorecon -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change
{% endif %}
-a always,exit -F path=/usr/sbin/semanage -F perm=x -F auid>=1000 -F auid!=4294967295 -F key=privileged-priv_change
-a always,exit -F path=/usr/sbin/setsebool -F perm=x -F auid>=1000 -F auid!=4294967295 -F key=privileged-priv_change
-a always,exit -F path=/usr/bin/chcon -F perm=x -F auid>=1000 -F auid!=4294967295 -F key=privileged-priv_change
-a always,exit -F path=/usr/sbin/restorecon -F perm=x -F auid>=1000 -F auid!=4294967295 -F key=privileged-priv_change
{% endif %}

{% if security_audit_record_privileged_commands %}
{% if centos_7_security_scanner == 'nessus' %}
{% set privileged_passwd_key = "-k privileged-passwd" %}
{% set privileged_priv_change_key = "-k privileged-priv_change" %}
{% set privileged_mount_key = "-k privileged-mount" %}
{% set privileged_postfix_key = "-k privileged-postfix" %}
{% set privileged_ssh_key = "-k privileged-ssh" %}
{% set privileged_terminal_key = "-k privileged_terminal" %}
{% set privileged_cron_key = "-k privileged-cron" %}
{% set privileged_pam_key = "-k privileged-pam" %}
{% else %}
{% set privileged_command_key = "-F key=privileged" %}
{% set privileged_mount_key = "-F key=export" %}
{% endif %}
-a always,exit -F path=/usr/bin/passwd -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_passwd_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/unix_chkpwd -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_passwd_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/sbin/unix_chkpwd -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_passwd_key | default(privileged_command_key) }}
-a always,exit -F path=/sbin/unix_chkpwd -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_passwd_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/gpasswd -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_passwd_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/chage -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_passwd_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/userhelper -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_passwd_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/sbin/userhelper -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_passwd_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/su -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_priv_change_key | default(privileged_command_key) }}
-a always,exit -F path=/bin/su -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_priv_change_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/sudo -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_priv_change_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/sudoedit -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_priv_change_key | default(privileged_command_key) }}
-a always,exit -F path=/bin/sudoedit -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_priv_change_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/chsh -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_priv_change_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/newgrp -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_priv_change_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/umount -F perm=x -F auid>=1000 -F auid!=4294967295  {{ privileged_mount_key | default(privileged_command_key) }}
-a always,exit -F path=/bin/umount -F perm=x -F auid>=1000 -F auid!=4294967295  {{ privileged_mount_key | default(privileged_command_key) }}
-a always,exit -F arch=b32 -S mount -F auid>=1000 -F auid!=4294967295 {{ privileged_mount_key }}
-a always,exit -F arch=b64 -S mount -F auid>=1000 -F auid!=4294967295 {{ privileged_mount_key }}
-a always,exit -F path=/usr/sbin/postdrop -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_postfix_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/sbin/postqueue -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_postfix_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/libexec/openssh/ssh-keysign -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_ssh_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/libexec/pt_chown -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_terminal_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/bin/crontab -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_cron_key | default(privileged_command_key) }}
-a always,exit -F path=/usr/sbin/pam_timestamp_check -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_pam_key | default(privileged_command_key) }}
-a always,exit -F path=/sbin/pam_timestamp_check -F perm=x -F auid>=1000 -F auid!=4294967295 {{ privileged_pam_key | default(privileged_command_key) }}
{% endif %}

{% if security_audit_record_modules %}
{% if centos_7_security_scanner == 'nessus' %}
{% set module_key = "-k module-change" %}
{% set module_args = "-p x -F auid!=4294967295" %}
{% else %}
{% set module_key = "-F key=modules" %}
{% set module_args = "-p x" %}
{% endif %}
-a always,exit -F arch=b64 -S init_module {{ module_key }}
-a always,exit -F arch=b32 -S init_module {{ module_key }}
-a always,exit -F arch=b64 -S delete_module {{ module_key }}
-a always,exit -F arch=b32 -S delete_module {{ module_key }}
-w /usr/sbin/insmod {{ module_args }} {{ module_key }}
-w /sbin/insmod {{ module_args }} {{ module_key }}
-w /usr/sbin/rmmod {{ module_args }} {{ module_key }}
-w /sbin/rmmod {{ module_args }} {{ module_key }}
-w /usr/sbin/modprobe {{ module_args }} {{ module_key }}
-w /sbin/modprobe {{ module_args }} {{ module_key }}
{% endif %}

{% if security_audit_record_usergroup %}
{% if centos_7_security_scanner == 'nessus' %}
{% set usergroup_key = "identity" %}
{% else %}
{% set usergroup_key = "audit_rules_usergroup_modification" %}
{% endif %}
-w /etc/group -p wa -k {{ usergroup_key }}
-w /etc/gshadow -p wa -k {{ usergroup_key }}
-w /etc/shadow -p wa -k {{ usergroup_key }}
-w /etc/passwd -p wa -k {{ usergroup_key }}
-w /etc/security/opasswd -p wa -k {{ usergroup_key }}
-w /etc/opasswd -p wa -k {{ usergroup_key }}
{% endif %}

{% if security_audit_record_sudoers %}
{% if centos_7_security_scanner == 'nessus' %}
{% set sudoers_key = "privileged-actions" %}
{% else %}
{% set sudoers_key = "actions" %}
{% endif %}
-w /etc/sudoers -p wa -k {{ sudoers_key }}
-w /etc/sudoers.d -p wa -k {{ sudoers_key }}
{% endif %}


## Set failure mode to syslog
-f 1