#
# This file controls the configuration of the audit remote
# logging subsystem, audisp-remote.
#

remote_server = {{ security_audit_audisp_remote_server }}
port = 60
##local_port =
transport = tcp
queue_file = /var/spool/audit/remote.log
mode = immediate
queue_depth = 2048
format = managed
network_retry_time = 1
max_tries_per_record = 3
max_time_per_record = 5
heartbeat_timeout = 0

network_failure_action = {{ security_audit_audisp_network_failure_action }}
disk_low_action = ignore
disk_full_action = {{ security_audit_audisp_disk_full_action }}
disk_error_action = warn_once
remote_ending_action = reconnect
generic_error_action = syslog
generic_warning_action = syslog
queue_error_action = stop
overflow_action = syslog

enable_krb5 = {{ security_audit_audisp_enable_krb5 }}
##krb5_principal =
##krb5_client_name = auditd
##krb5_key_file = /etc/audisp/audisp-remote.key